<form class="form-signin p-5 mt-5 mw-25" method="POST">
  <div class="text-center mb-4">
    <a href="/">
      <img class="mb-4" src="/images/logo.jpg" alt="" width="72" height="72" />
    </a>
    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
  </div>

  <div class="form-label-group">
    <a href="users/login" class="btn btn-primary btn-block" type="submit">Sign In</a>
  </div>

  <div class="form-label-group">
    <a href="users/register" class="btn btn-primary btn-block" type="submit">Register</a>
  </div>
</form>
