<form class="form-signin p-5 mt-5 mw-25" method="post">
  <div class="text-center mb-4">
    <a href="/">
      <img class="mb-4" src="/images/logo.jpg" alt="" width="72" height="72" />
    </a>
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
  </div>

  <div class="form-label-group">
    <label for="name">Name</label>
    <input type="name" name="name" id="name" class="form-control" placeholder="Enter Name" required autofocus />
  </div>

  <div class="form-label-group">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" required autofocus />
  </div>

  <div class="form-label-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required />
  </div>

  <button class="btn btn-primary btn-block" type="submit">Register</button>

  <hr />
  <a href="/users/login" class="text-center m-0 p-0 nav-link text-muted">Sign In </a>
</form>
