body {
  background-color: rgb(207, 207, 207) !important;
}

.form-signin {
  background-color: rgb(255, 255, 255) !important;
  max-width: 480px;
  margin: 0 auto;
}

.form-signin > * {
  margin-top: 25px;
}

a {
  text-align: center;
  margin: 0 auto;
  text-decoration: none !important;
}
